.circle {
  color: #042c5c;
  font-family: "Roboto Mono", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px; /* 97.5% */
  position: absolute;
  right: 5%;
  top: 5%;

  text-decoration: none;
}
