h1,
h2,
h3 {
  color: #042c5c;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: sans-serif;
}

th,
td {
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #9aaabd;
}
