.hamburger-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: calc(100vw / 9); /* Corrected width calculation */
  height: 110px;
  box-sizing: border-box; /* Include padding and border in width and height */
  margin: 0; /* Remove any default margin */
}

.hamburger-icon {
  font-family: Arial, sans-serif;
  font-size: 300%;
  font-weight: bold;
  background-color: #042c5c;
  color: #ffffff;
}

.dropdown-menu {
  position: absolute;
  top: 95%; /* Positioned right at the bottom of the hamburger menu */
  left: 0;
  background-color: #042c5c;
  width: calc(100vw / 9); /* Match the width of the hamburger-menu container */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu-item {
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 180%;
  text-align: center;

  display: block;
  color: #ffffff;
}

.menu-item:hover {
  background-color: #032043;
  font-weight: bold;
}
