.home-frame .Login-Banner,
.home-frame .Login-Button {
  height: 111px;
  position: fixed;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  margin: 0;
}

.home-frame .Login-Banner {
  background-color: #f4f4f4;
  width: calc(100vw / 9); /* Double the size of other tabs */
}

.home-frame .Login-Button {
  color: #042c5c;
  font-family: "Anonymous Pro-Bold", Helvetica;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  height: 111px;
  position: fixed;
  bottom: 0;
  right: 0;
  letter-spacing: 2.8px;
  line-height: normal;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  width: calc(
    100vw / 9
  ); /* Corrected width calculation to be double the size of other items */
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
}
