.loginTitleText {
  height: 80px;
  flex-shrink: 0;

  color: #042c5c;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;

  text-align: left;
}
.BacktoMap {
  display: -webkit-box;
  gap: 5%;
  flex-shrink: 0;
  color: #042c5c;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
  text-align: center;
  padding-bottom: 5%;
}

.loginFor {
  width: 300px;
  height: 66px;
  flex-shrink: 0;
  color: #042c5c;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
.mergePaddingResolve {
  padding-bottom: 15%;
}
