.dropdown-toggle {
  color: white;
}

.dropdown-toggle:hover {
  color: white;
}

.dropdown-toggle::after {
  color: white;
}
.dropdown-toggle:focus {
  color: white;
}
.dropdown-toggle:active {
  color: white;
}
.profileContainer {
  border-radius: 10rem;
}
.chipContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
