.selector-tabs-container {
  top: 100%;
  left: 0;
  display: flex;
  width: 100%;
  background-color: #042c5c;
  margin-bottom: -5px;
}

.selector-tab {
  font-size: 150%;
  font-weight: bold;
  flex: 1;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #042c5c;
  color: #fff;
}

.selector-tab.active {
  background-color: #032043;
  border-color: #032043;
  font-weight: 900;
}

.hospitalLogo {
  max-width: 59%;
  margin-left: 20px;
}
