.selector-tabs-container {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background-color: #042c5c;
  margin-bottom: 0;
  padding: 0;
  height: 110px;
}

.selector-tab,
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 180%;
  font-weight: bold;
  flex: 1;
  width: calc(100vw / 9);
  height: 110px;
  cursor: pointer;
  background-color: #042c5c;
  color: #ffffff;
  box-sizing: border-box;
  margin: 0;
}

.selector-tab.active {
  background-color: #032043;
  border-color: #032043;
  font-weight: 900;
}

/* Make sure the logo does not stretch */
.hospitalLogo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
