.transform-container {
  border: 2px solid #000;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.content-container {
  /*position: absolute;*/
  display: flex;
  position: relative;
}
.content-container > * {
  /*object-fit: contain;*/
}
